/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

html, body {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x:hidden;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
  
                               
}

@media (min-width: 1281px) {
 
   /* CSS */
   
 }
 
 /* 
   ##Device = Laptops, Desktops
   ##Screen = B/w 1025px to 1280px
 */
 
 @media (min-width: 1025px) and (max-width: 1280px) {
   
   /* CSS */
   
   
 }
 
 /* 
   ##Device = Tablets, Ipads (portrait)
   ##Screen = B/w 768px to 1024px
 */
 
 @media (min-width: 768px) and (max-width: 1024px) {
   
 
                                                                                 /*-------------------------- Screen 1 --------------------------*/

     

 }

 
 /* 
   ##Device = Tablets, Ipads (landscape)
   ##Screen = B/w 768px to 1024px
 */
 
 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
   /* CSS */
   
   
 }
 
 /* 
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
 */
 
 @media (min-width: 481px) and (max-width: 767px) {
   
   /* CSS */
    
 }
 
 /* 
   ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px
 */
 
 @media (min-width: 320px) and (max-width: 480px) {
   
   /* CSS */
     /* CSS */
   /* ---------------------------------------------------------------------------------------------------------------------  PRIMARY WORKING AREA */
   #main_container{
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    bottom:0px;
    overflow: hidden;
    overflow-x:visible;
    overflow-y:hidden; 
    border: 8px transparent green;      
    -webkit-overflow-scrolling: touch; 
     
  }

  .css-selector {
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

  #screens_container{
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    bottom:0px;
    border: 0px transparent pink; 
    display:flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-content: space-between; 
    -webkit-overflow-scrolling: touch;
 
     
    
     
  } 

#screens_container{
animation-duration: 1s;
    animation-play-state:paused;
}

@keyframes slide_left1{
    from{left: 0%;}
    to{left:-100%;}
}


@keyframes slide_left2{
  from{transform: translateX(-100%)}
  to{transform: translateX(-200%)}
}

@keyframes slide_left4{
  from{transform: translateX(-200%)}
  to{transform: translateX(-300%)}
}

@keyframes slide_left5{
from{transform: translateX(-300%)}
to{transform: translateX(-400%)}
}

@keyframes slide_left6{
from{transform: translateX(-400%)}
to{transform: translateX(-500%)}
}

@keyframes slide_left7{
from{transform: translateX(-500%)}
to{transform: translateX(-600%)}
}


    /* Return arrows*/
@keyframes slide_back_left_arrow1{
      from{transform: translateX(-200%)}
      to{transform: translateX(-100%)}
}

@keyframes slide_back_left_arrow2{
  from{transform: translateX(-300%)}
  to{transform: translateX(-200%)}
}

@keyframes slide_back_left_arrow3{
from{transform: translateX(-400%)}
to{transform: translateX(-300%)}
}

@keyframes slide_back_left_arrow4{
from{transform: translateX(-500%)}
to{transform: translateX(-400%)}
}





  #screen_1{
    position:relative;      
    height:100%;
    width:100%;
    background: green; 
    
    
    
  }

  #screen_2{      
    position:relative;
    height:100%;
    width:100%;;
    background: red;
     border: 2px solid red;  
  }

  #screen_3{     
    position:relative; 
    height:100%;
    width:100%;
    background: orange;
     
  }

  #screen_4{       
    position:relative; 
    height:100%;
    width:100%;
     background: hsl(295, 48%, 74%); 
    
  }
  
  #screen_5{    
    position:relative;    
    height:100%;
    width:100%;
    background: #f86d79;*
          
  }

  #screen_6{    
    position:relative;    
    height:100%;
    width:100%;
     background: blue; 
          
  }

  #screen_7{    
    position:relative;    
    height:100%;
    width:100%;
    background: navajowhite; 
          
  }
     
   
 }